.mainPage {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 20%;
    right: 10%;
    width: 9rem;
    height: 9rem;
    background-image: url("src/assets/images/icons/decor-round.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}