.headerInfo {
  display: flex;
  align-items: center;
  padding: var(--space-2) 0;

  &__logoLink,
  &__searchForm {
    margin-right: var(--space-2);
  }

  &__searchForm {
    position: relative;
    display: block;
    max-width: 23rem;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: var(--space-1);
      width: 1.2rem;
      height: 1.2rem;
      background-image: url('src/assets/images/icons/search.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.headerAddress {
  position: relative;
  flex-shrink: 0;
  padding-right: 2rem;
  font-style: normal;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0.125rem;
    height: var(--space-3);
    background-color: var(--gallery);
  }

  &__contacts {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-0-5);
  }

  span em {
    font-style: normal;
  }

  &__phone,
  &__mail {
    position: relative;
    margin-right: var(--space-0-25);
    padding-left: var(--space-2);
    color: var(--shaft);
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      bottom: 0;
      width: 1.2rem;
      height: 1.2rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__phone {
    font-weight: var(--font-bold);
    font-size: 1.1em;

    &::before {
      background-image: url('src/assets/images/icons/phone.svg');
    }
  }

  &__mail {
    &::before {
      background-image: url('src/assets/images/icons/mail.svg');
    }
  }
}

.search__btn {
  display: none;
}

.login {
  display: flex;
  align-items: center;
  margin-left: 1.7rem;
}

.loginIcon {
  display: inline-block;
  margin-right: var(--space-2);

  svg {
    transition: fill 0.3s ease-in-out;

    &:hover {
      fill: var(--accent);
    }
  }
}

.cartIcon {
  display: inline-block;
  position: relative;

  svg {
    transition: fill 0.3s ease-in-out;

    &:hover {
      fill: var(--accent);
    }
  }
}

.cartNumber {
  position: absolute;
  top: -0.3rem;
  right: -0.7rem;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--main-light);
  border-radius: 50%;
  color: var(--main-light);
  font-size: var(--normal-font-size);
  background-color: var(--accent);
}

@media only screen and (max-width: 1100px) {
  .headerInfo {
    &__logoLink,
    &__searchForm {
      margin-right: var(--space-1);
    }

    img {
      display: block;
      width: 16rem;
    }
  }

  .headerAddress {
    font-size: 0.9em;
  }

  .loginIcon {
    svg {
      width: 1.3rem;
      height: 1.9rem;
    }
  }

  .cartIcon {
    svg {
      width: 1.9rem;
      height: 1.9rem;
    }

    span {
      width: 1.5rem;
      height: 1.6rem;
      font-size: 0.8em;
    }
  }
}

@media only screen and (max-width: 900px) {
  .headerInfo {
    justify-content: space-between;

    &__searchForm {
      display: none;
    }

    &__logoLink {
      display: none;
    }
  }

  .headerAddress {
    &::after {
      display: none;
    }
  }

  .search__btn,
  .loginIcon,
  .cartIcon {
    display: block;
    margin-right: 1rem;
  }

  .search__btn {
    svg {
      width: 1.6rem;
      height: 1.6rem;
      transition: fill 0.3s ease-in-out;

      &:hover {
        fill: var(--accent);
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .headerAddress {
    &__contacts {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-1);
      margin-bottom: var(--space-1);
    }

    span em {
      display: none;
    }
  }

  .login {
    flex-direction: column;
    gap: var(--space-1);
  }
}