input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product {
  border: 1px solid var(--gallery);
  border-radius: 10px;
}

.content {
  padding: 1.9rem 1.3rem 1.3rem 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.imgLink {
  position: relative;
  z-index: 1;
}

.img {
  object-fit: contain;
  margin-bottom: var(--space-2);
}

.statusWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: absolute;
  inset: 0;
  z-index: 2;
}

.status {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--main-light);
  background-color: var(--main-dark);
  font-size: 12px;
  font-weight: var(--font-bold);
}

.statusRecommended {
  background-color: var(--macaroni);
}

.statusSale {
  background-color: var(--pastel-green);
}

.statusNew {
  background-color: var(--azure-radiance);
}

.statusProductOfMoth {
  background-color: var(--silver);
}

.title {
  margin-bottom: var(--space-0-5);
  color: var(--shaft);
  font-weight: var(--font-bold);
  font-size: 1.1em;
}

.description {
  margin-bottom: var(--space-1);
  color: var(--main);
}

.orderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: var(--space-1);
}

.price {
  color: var(--shaft);
  font-weight: var(--font-bold);
  font-size: var(--h3-font-size);
}

.priceWrapper {
  display: flex;
  flex-direction: column;
}

.salePrice {
  text-decoration-line: line-through;
}

.changeQuantity {
  display: flex;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: var(--main);
    top: 50%;
    transform: translateY(-50%);
    left: var(--space-2);
    width: 1px;
    height: var(--space-2);
  }
}

.quantity {
  display: block;
  padding-left: var(--space-1);
  width: 4rem;
  height: 3rem;
  border: 1px solid var(--main);
  border-top-left-radius: var(--space-0-25);
  border-bottom-left-radius: var(--space-0-25);
}

.quantityBtns {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 5.7rem;
}

.addProduct,
.removeProduct {
  width: var(--space-1);
  height: 50%;
  padding: 0;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.addProduct {
  svg {
    rotate: 270deg;
    margin-bottom: -8px;
    transition: margin-bottom 0.3s ease-in-out;
  }

  svg:hover {
    margin-bottom: -1px;
  }
}

.removeProduct {
  svg {
    rotate: 90deg;
    margin-bottom: 3px;
    transition: margin-bottom 0.3s ease-in-out;
  }

  svg:hover {
    margin-bottom: -2px;
  }
}

.buyBtn {
  padding: 0 var(--space-1);
  border: 1px solid transparent;
  border-top-right-radius: var(--space-0-25);
  border-bottom-right-radius: var(--space-0-25);
  color: var(--main-light);
  background-color: var(--accent);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--main-dark);
  }
}

.moreBtn {
  border: 1px solid var(--gallery);
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: var(--main);
  }
}
