.categories {
  margin-bottom: var(--space-2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--space-0-75);

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.5rem 1.5rem 2.5rem;
  }

  &__item {
    margin: 0 0.6rem;
  }

  &__link {
    display: block;
    font-weight: var(--font-bold);
    text-align: center;
    font-size: var(--h3-font-size);
    line-height: var(--lh-normal);
    color: var(--shaft);
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--accent);
    }
  }

  &__btn {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .categories {
    &__link {
      font-size: var(--normal-font-size);
    }
  }
}

@media only screen and (max-width: 750px) {
  .categories {
    justify-content: center;

    &__list {
      display: none;
    }

    &__btn {
      display: block;
      width: 100%;
      padding: var(--space-2) 0;
      font-weight: var(--font-bold);
    }
  }
}