.categories {
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.5rem 1.5rem 2.5rem;
  }

  &__item {
    margin: 0 0.6rem;
  }

  &__link {
    display: block;
    font-weight: 700;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--accent);
    }
  }

  &__btn {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .categories {
    &__link {
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 750px) {
  .categories {
    justify-content: center;

    &__list {
      display: none;
    }

    &__btn {
      display: block;
      width: 100%;
      padding: 2rem 0;
      font-weight: 700;
    }
  }
}