.btn {
  padding: var(--space-1) var(--space-2) var(--space-1);
  border: 1px solid transparent;
  border-radius: var(--space-0-25);
  color: var(--shaft);
  background-color: var(--main-light);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.btn:hover {
  color: var(--accent);
}